@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,opsz,wght@0,6..72,400..700;1,6..72,400..700&display=swap');

@import 'tailwindcss';

@theme {
    --background-image-noise: linear-gradient(
            to bottom,
            color-mix(in oklab, var(--color-navy-black) 0%, transparent),
            color-mix(in oklab, var(--color-navy-black) 100%, transparent)
        ),
        url('/images/noise.png');
    --color-dank-orange: #ea562d;
    --color-dank-orange-200: #e97a60;
    --color-dank-orange-300: #e79686;
    --color-dank-orange-400: #e4b9b2;
    --color-navy-black: #141a1e;
    --color-navy-black-200: #282c2d;
    --color-navy-black-300: #464b4c;
    --color-navy-black-400: #848c8d;
    --color-muted-yellow: #e07d33;
    --color-muted-yellow-200: #c97c50;
    --color-muted-yellow-300: #b68774;
    --color-muted-yellow-400: #dab9aa;
    --color-eggshell: #e5e2b9;
    --color-eggshell-200: #d1cb9e;
    --color-eggshell-300: #ddd6a1;
    --color-eggshell-400: #ede7ae;
    --color-off-white: #f9f9e2;
    --color-off-white-200: #ecebe0;
    --color-off-white-300: #f9f9ed;
    --color-off-white-400: #fafaf2;
    --color-primary: var(--color-dank-orange);
    --color-primary-content: var(--color-off-white);
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --font-heading: 'Lora', ui-serif, Georgia, serif;
}

@layer base {
    h1,
    h2,
    h3 {
        font-family: var(--font-heading);
    }

    h1 {
        @apply text-4xl font-semibold tracking-tight sm:text-5xl;
        line-height: 100%;
    }

    h2 {
        @apply text-2xl font-semibold sm:text-3xl;
        line-height: 100%;
    }

    h3 {
        @apply text-xl font-semibold;
    }

    a:not(.btn) {
        @apply transition hover:opacity-80;
    }

    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-navy-black-200 text-muted-yellow;
        font-size: 0.9em;
    }
}

@layer components {
    .font-heading {
        font-family: var(--font-heading);
    }

    .markdown {
        > * {
            @apply my-4;
        }

        :where(h1, h2) {
            @apply mt-12 mb-6 text-navy-black;
        }

        > :first-child {
            @apply mt-0;
        }

        > :last-child {
            @apply mb-0;
        }
    }

    .btn {
        @apply inline-flex items-center justify-center gap-2 font-bold text-center no-underline transition-colors cursor-pointer bg-dank-orange text-off-white;
        padding: var(--btn-py, 0.875rem) var(--btn-px, 1.25rem);
        font-size: var(--btn-font-size, 0.875rem);
        border-radius: var(--btn-border-radius, 0.25rem);

        &:hover {
            @apply bg-dank-orange-200;
        }

        &:disabled {
            @apply cursor-default text-navy-black-400 bg-navy-black-300;
        }
    }

    .btn-lg {
        --btn-font-size: 1.125rem;
        --btn-px: 1.5rem;
        --btn-py: 1.125rem;
    }

    .input {
        @apply px-4 py-3 text-sm border rounded-sm border-navy-black-300 text-navy-black focus:border-dank-orange focus:outline-3 focus:outline-dank-orange/30;
    }

    .diff {
        direction: ltr;
        container-type: inline-size;
        grid-template-columns: auto 1fr;

        &:focus-visible,
        &:has(.diff-item-1:focus),
        &:has(.diff-item-2:focus) {
            outline: 2px solid var(--color-gray-400);
            outline-offset: 1px;
        }
        &:focus-visible {
            .diff-resizer {
                min-width: 80cqi;
                max-width: 80cqi;
            }
        }
        &:has(.diff-item-2:focus-visible) {
            .diff-resizer {
                min-width: 20cqi;
                max-width: 20cqi;
            }
        }
    }

    .diff-resizer {
        width: 50cqi;
        max-width: calc(100cqi - 1rem);
        transform: scaleY(3) translate(0.35rem, 0.08rem);
        transform-origin: 100% 100%;
        clip-path: inset(calc(100% - 0.75rem) 0 0 calc(100% - 0.75rem));
        transition: min-width 0.3s ease-out, max-width 0.3s ease-out;
    }

    .diff-item-2 {
        &:after {
            content: '';
            width: 1.25rem;
            height: 1.875rem;
            position: absolute;
            top: 50%;
            right: 1px;
            bottom: 0;
            translate: 50% -50%;
            background: color-mix(in oklab, var(--color-white) 50%, transparent);
            border-radius: 9999px;
            border: 2px solid var(--color-white);
            backdrop-filter: blur(8px);
            pointer-events: none;
            z-index: 2;
            box-shadow: inset 0 0 0 1px color-mix(in oklab, var(--color-gray-900) 5%, transparent),
                0 1px 3px 0 color-mix(in oklab, var(--color-gray-900) 20%, transparent);
        }
        @supports (-webkit-overflow-scrolling: touch) and (overflow: -webkit-paged-x) {
            &:after {
                content: none;
            }
        }
    }

    .diff-item-1,
    .diff-item-2 {
        > * {
            height: 100%;
            width: 100cqi;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
        }
    }
}
